/* Global styles */
:root {
    --body-bg-color: #121212;
    --card-bg-color: #1E1E1E;
    --modal-bg-color: #252525;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #CCCCCC;
    --border-color: #333333;
    --main-button-color: #343A40;
    --hover-button-color: #505050;
    --save-button-color: #007BFF;
    --action-button-color: #0056B3;
    --delete-button-color: #FF5555;
    --priority-low-color: #28A745;
    --priority-medium-color: #FFC107;
    --priority-high-color: #DC3545;
}

/* Reset Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Setting style of body */
body {
    max-width: 100vw;
    height: auto;
    background-color: var(--body-bg-color);
    display: flex;
    flex-wrap: wrap;
}

/* Setting style of header, and title of page  */
header {
    width: 100%;
    height: 10vh;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

#pageTitle {
    width: auto;
    height: 100%;
    font-size: 8vh;
    color: var(--main-text-color);
    text-align: left;
    align-content: center;
}

/* Setting style of main, overlay and container of task cards*/
main {
    width: 92%;
    min-height: 85vh;
    padding: 2vh;
}

#modalOverlay {
    display: none; /* começa escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* escurece o fundo */
    z-index: 998; /* um nível abaixo do modal */
}

#taskContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

/* Defining the style of the task cards and their child elements */
.taskCard {
    width: 32.5%;
    height: 35vh;
    background-color: var(--card-bg-color);
    color: var(--main-text-color);
    padding: .5%;
    display: grid;
    grid-template-columns: 4fr .25fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 2%;
    overflow: hidden;
    transition: all 0.3s ease;
}

.taskCard.selected{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.taskPriority {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: .5%;
}

.expandTask {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskTitle {
    grid-area: 2 / 1 / 3 / 3;
    max-height: calc(35vh * 0.4);
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.taskDescription {
    grid-area: 3 / 1 / 4 / 3;
    max-height: calc(1.3rem * 7);
    line-height: 1.3rem;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Setting style of aside and actions buttons */
aside {
    width: 8%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1vh;
    padding-bottom: 2vh;
}

/* Style of main button */
#optionsButton {
    width: 50%;
    height: 9.5%;
    border: none;
    border-radius: 50%;
    background-color: var(--save-button-color);
    color: var(--main-text-color);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#optionsButton i {
    font-size: 1em;
}

/* Action buttons style */
.floating-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.3s ease;
}

.floating-buttons.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.mini-btn {
    background-color: var(--main-button-color);
    color: var(--main-text-color);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.2s;
}

/* Hover colors of action buttons */
.mini-btn:nth-child(1):hover { background-color: var(--priority-low-color); }
.mini-btn:nth-child(2):hover { background-color: var(--priority-medium-color); }
.mini-btn:nth-child(3):hover { background-color: var(--priority-high-color); }


/* Setting footer style */
footer {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

#credits {
    font-size: 1.75vh;
    color: var(--main-text-color);
    cursor: pointer;
}

/* Defining the style of the modal and their child elements */
#taskModal {
    width: 30vw;
    height: 70vh;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--modal-bg-color);
    color: var(--main-text-color);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    animation: modalFade 0.3s ease-out;
    z-index: 999;
}

.taskModalContent {
    width: 100%;
    height: 100%;
    padding: 3%;
}

/* Modal header style */
#taskModalHeader {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.closeTaskModal {
    position: absolute;
    right: 0;
    top: 0;
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.2 ease;
}

.closeTaskModal:hover {
    color: var(--delete-button-color);
}

/* Modal form style */
#taskModalForm {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.formGroup {
    width: 100%;
    height: auto;
}

.formGroup label {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
}

.inputStyle{
    width: 100%;
    padding: 2%;
    background-color: var(--card-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

#title {
    height: 5vh;
}

#description {
    height: 25vh;
    resize: none;
}

#priorityOptions {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vw;
}

.options {
    display: flex;
    align-items: center;
    gap: 5px;
}

.taskFormActions {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1vw;
    margin-top: 2vh;
}

.taskFormActions button {
    width: 10vw;
    height: 5vh;
    background-color: var(--main-button-color);
    color: var(--main-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.taskFormActions button:hover {
    background-color: var(--hover-button-color);
}

.taskFormActions button:disabled {
    opacity: 0.5;   
    cursor: not-allowed;
}
@keyframes modalFade {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


