*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    max-width: 100vw;
    height: auto;
    background-color: #161616;
    display: flex;
    flex-wrap: wrap;
}

header{
    width: 100%;
    height: 10vh;
    background-color: red;
}

main{
    width: 90%;
    min-height: 85vh;
    background-color: #008cff;
}

aside{
    width: 10%;
    min-height: 85vh;
    background-color: #2f9b2f;
}

footer{
    width: 100%;
    height: 5vh;
    background-color: goldenrod;
}
