* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    max-width: 100vw;
    height: auto;
    background-color: #161616;
    display: flex;
    flex-wrap: wrap;
}

/* Header styles */
header {
    width: 100%;
    height: 10vh;
}

#pageTitle {
    width: auto;
    height: 100%;
    font-size: 8vh;
    color: #fff;
    text-align: left;
    align-content: center;
}

/* Main Content styles */
main {
    width: 92%;
    min-height: 85vh;
    /* background-color: #008cff; */
    padding: 2vh;
}

#taskContainer{
    /* background-color: #343a40; */
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.taskCard{
    width: 32.5%;
    height: 35vh;
    background-color: #252525;
    color: #fff;
}


/* Aside styles */
aside {
    width: 8%;
    min-height: 85vh;
    /* background-color: #2f9b2f; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1vh;
    padding-bottom: 2vh;
}

/* Botões flutuantes */
.floating-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.3s ease;
}

.floating-buttons.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* Estilo do botão flutuante */
.mini-btn {
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.2s;
}

.mini-btn:nth-child(1):hover {
    background-color: #228B22;
}
.mini-btn:nth-child(2):hover {
    background-color: #FFA500;
}
.mini-btn:nth-child(3):hover {
    background-color: #B22222;
}


/* Botão principal */
#optionsButton {
    width: 50%;
    height: 9.5%;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #007bff;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#optionsButton i {
    font-size: 1em;
}

/* Footer styles */
footer {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #fff solid 1px;
}

#credits {
    width: auto;
    height: auto;
    font-size: 1.75vh;
    color: #fff;
    text-align: center;
    cursor: pointer;
    /* background-color: #B22222; */
}
